footer {
    background-color: #f0f4f8;
    color: #5c6f7b;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0; 
    z-index: 1000; 
  }
  
  footer p {
    margin: 0;
    font-size: 1rem;
  }
  